button{
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 30px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;  
    font-style: italic; 
    justify-content: space-evenly;  
 } 
 .button-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   /* flex-direction:column;*/
    height: 40vh;
   
  }
 h1{
    font-style: italic;
    font-size: 18px;
 }
 section {
    text-align: right;
    padding: 4px;
    
    font-style: oblique;
   
  }
p {
   font-style: initial;
}
.button span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.5s;
 }
 .button span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
 }
 .button:hover span {
   padding-right: 25px;
 }
 .button:hover span:after {
   opacity: 1;
   right: 0;
 }
 body{
   background-image: url('0889.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}


